<div class="container-fluid vh-100">
  <div class="row  vh-100 d-flex justify-content-center align-items-center bg-danger">
    <form class="col-xl-6 col-lg-12 card bg-dark" [formGroup]="userLoginForm">

      <h3 class="text-light">Connexion</h3>

      <div class="input">
        <label class="form-label" for="">Nom d'utilisateur</label>
        <input type="text" class="w-100" pInputText formControlName="username"/>
      </div>

      <div class="input">
        <label class="form-label" for="">Mot de passe</label>
        <input type="password" class="w-100" pInputText formControlName="password"/>
      </div>

      <p-button label="Connexion" class="my-2" (click)="login()"></p-button>

    </form>
  </div>
</div>
